header {
    text-align: center;
    border: 1px solid blue;
    background-size: cover;
    background-position: center;
    color: white;
}

@media screen and (min-width: 1024px) {
    header {
        min-height: 100vh;
    }
}