/* App */

body {
  background-color: #FAF8F4; 
  min-height: 100vh;
}

.App {
  width: 320px;
  border: 1px solid red;
  margin: auto;
  height: auto;
}

.NavMenu {
  height: 40px;
  border: 1px solid blue;
}

@media screen and (min-width: 1024px) {
  .App {
    width: 1024px;
  }

  .NavMenu {
    height: 60px;
  }
}

.Footer {
  height: 40px;
  border: 1px solid blue;
}

/* Menu */

.MealCard {
  margin: 20px;
  height: 200px;
  border: 1px solid blue;
  box-sizing: content-box;
}

/* Checkout */